@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

:root {
  --background-color: #ffffff;
  --toggle-bg: var(--secondary);
  --toggle-fg: #ffea00;

  --primary: #ffffff;
  --secondary: #7D65FB;
  --tertiary: #ebf0ff;
  --black-100: #ffffff;
  --black-200: #c3b6fa;
  --white-100: #f3f3f3;

  --nav-title: var(--secondary);
  --dropdown-bg: #261d5b;
  --dropdown-menu-content: #ffffff;

  /* text colors */
  --head-text: #5E5688;
  --sub-text: #877EB8;
  --hero-content-text: #5d649b;
  --section-sub-text: #7D65FB;
  --section-content: #877EB8;
  --text-hover: #5233ed;
  --placeholder-text: #b7bcdf;

  /* icon colors */
  --menu-icon-bg: #7D65FB;

  /* --music-button-bg-lg: #d7cdea; */
  /* --music-icon-lg: #877EB8; */
  --music-btn-on-click-bg: #6925fd;
  --active-icon-lg: var(--secondary);


  --hero-background-rgb: 201, 190, 255;

  --button-bg: var(--secondary);
  --button-bg-hover: #6925fd;
  --button-border: var(--secondary);
  --button-border-hover: #6925fd;
  --button-shadow: 2px 4px 6px rgba(130, 126, 156, 0.4);

  --content-arrow: #CEDEFF;

  --logo-text: #6925fd;

}

[data-theme='dark'] {
  /* Dark theme styles */
  --background-color: #050816;
  --toggle-bg: var(--secondary);
  --toggle-fg: #050816;

  --primary: #050816;
  --secondary: #7D65FB;
  --tertiary: #151030;
  --black-100: #1e183f;
  --black-200: #090325;
  --white-100: #f3f3f3;

  --nav-title: #aaa6c3;
  --dropdown-bg: #261d5b;
  --dropdown-menu-content: #aaa6c3;

  /* text colors */
  --head-text: #ffffff;
  --sub-text: #ffffff;
  --hero-content-text: #f3f3f3;
  --section-sub-text: #aaa6c3;
  --section-content: #aaa6c3;
  --text-hover: #ffffff;
  --placeholder-text: #aaa6c3;

  /* music icon colors */
  --menu-icon-bg: #ffffff;

  /* --music-button-bg-lg: #ffffff; */
  /* --music-icon-lg: #787382; */
  --music-btn-on-click-bg: #7a3dff;
  --active-icon-lg: var(--secondary);

  --hero-background-rgb: 16, 13, 37;

  --button-bg: #160a38;
  --button-bg-hover: #1d0d47;
  --button-border: #716ada;
  --button-border-hover: #8781da;
  --button-shadow: 2px 4px 6px rgba(5, 8, 22, 0.8);

  --content-arrow: #ffffff;

  --logo-text: #ffffff;
}

/* #l1 text,
#hinu,
#arini,
#th {
  fill: var(--secondary);
} */

.bg {
  background-color: var(--background-color);
}

/* --Navbar Section Styles-- */
.nav-bg {
  background-color: var(--primary);
}

.nav-title {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.nav-title:hover {
  color: var(--text-hover);
}

.nav-title:active {
  color: var(--secondary);
}

.nav-title-active {
  color: var(--nav-title);
}

.nav-title-inactive {
  color: var(--nav-title);
}

.dropdown-menu {
  background-color: var(--dropdown-bg);
  color: var(--dropdown-menu-content);
}

.menu-icon {
  color: var(--menu-icon-bg);
}

/* --Music Button Styles-- */
.music-button {
  /* background-color: var(--music-button-bg-lg:); */
  /* color: var(--music-icon-color); */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.music-button:hover {
  transform: scale(1.06);
}

.music-button:active {
  background-color: var(--music-btn-on-click-bg);

}

/* .sound-on-active {
  color: var(--active-icon-lg);
} */

/* Music Button Styles for larger screens */
@media screen and (min-width: 640px) {
  .music-button {
    background-color: var(--secondary);
    color: var(--music-icon-lg);
    position: fixed;
    padding: 12px;
    border-radius: 8px;
    bottom: 18px;
    right: 18px;
    font-size: 24px;
    /* box-shadow: var(--button-shadow); */
  }
}

/* Music Button Styles for smaller screens */
@media screen and (max-width: 639px) {
  .music-button {
    background-color: var(--secondary);
    color: #ffffff;
    position: fixed;
    padding: 8px;
    border-radius: 24px;
    top: 26px;
    right: 62px;
    font-size: 18px;
  }
}

/* --Hero Section Styles-- */
.hero-bg {
  background-color: rgba(var(--hero-background-rgb), 0.5);
}

/* --Text Styles-- */
.hero-head-text {
  color: var(--head-text);
}

.hero-sub-text {
  color: var(--sub-text);
}

.hero-content {
  color: var(--hero-content-text);
}

.section-head-text {
  color: var(--head-text);
}

.section-sub-text {
  color: var(--section-sub-text);
}

.section-content {
  color: var(--section-content);
}

.highlight-text {
  color: var(--secondary);
}

.button {
  padding: 16px 24px;
  background: var(--button-bg);
  color: white;
  font-weight: bold;
  border: 1px solid var(--button-border);
  border-radius: 6px;
  box-shadow: var(--button-shadow);
  /* cursor: pointer; */
}

.button:hover {
  padding: 16px 24px;
  background: var(--button-bg-hover);
  color: white;
  border: 1.6px solid var(--button-border-hover);
  border-radius: 6px;
  /* cursor: pointer; */
}

/* --Social Icons Styles-- */
.social-icons {
  display: flex;
  align-items: baseline;
  margin-top: 4px;
  gap: 10px;
}

.social-icons a {
  font-size: 30px;
  color: var(--sub-text);
  text-decoration: none;
}

.social-icons a:hover {
  color: var(--secondary);
}

.social-icons a:active {
  color: var(--music-btn-on-click-bg);
}

/* --Experience Section Styles-- */
.experience-card {
  background-color: var(--tertiary);
  color: var(--head-text);
}

/* --Project Section Styles-- */
.project-card {
  background-color: var(--tertiary);
  padding: 1.25rem;
  border-radius: 1rem;
  width: 100%;
}

/* --Contact Section Styles-- */
.contact-card {
  background-color: var(--tertiary);
  flex: 0.75;
  padding: 2rem;
  border-radius: 1rem;
}

.input-field {
  background-color: var(--black-100);
  padding: 1rem 1.5rem;
  color: var(--head-text);
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-weight: 500;
}

.input-field::placeholder {
  color: var(--placeholder-text);
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

/* --footer styles-- */
.footer {
  width: 100%;
  padding: 40px 0;
  position: relative;
}

.footer-content {
  text-align: center;
  color: var(--section-sub-text);
  padding: 0 30px;
}

/* --Toggle Button Styles--  */
.toggle-container {
  z-index: 1000;
}

.toggle {
  visibility: hidden;
}

.toggle+label {
  display: flex;
  align-items: center;
  font-size: 1.8em;
  cursor: pointer;
  color: var(--toggle-icon);
}

.toggle+label::before {
  content: "";
  height: 1.2em;
  width: 2.2em;
  border-radius: 1em;
  background-color: var(--toggle-bg);
  margin-right: 0.5em;
  transition: background-color 250ms ease-in-out;
}

.toggle+label::after {
  content: "";
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background-color: var(--toggle-fg);
  position: absolute;
  left: 0.1em;
  transition: background-color 250ms ease-in-out, transform 250ms ease-in-out;
}

.toggle:checked+label::after {
  transform: translateX(100%);
}

.toggle+label .dark-icon {
  position: absolute;
  font-size: 0.6em;
  margin-left: 2.15em;
  z-index: 1000;
}

.toggle+label .light-icon {
  color: #050816;
  position: absolute;
  font-size: 0.6em;
  margin-left: 0.45em;
  z-index: 1000;
}

.toggle:checked+label .light-icon {
  color: #ffffff;
}

/* --Toggle styles for larger screens-- */
@media screen and (min-width: 640px) {
  .toggle-container {
    position: fixed;
    bottom: 18px;
    right: 70px;
  }
}

/* --Toggle styles for smaller screens-- */
@media screen and (max-width: 639px) {
  .toggle-container {
    position: fixed;
    top: 6px;
    right: 94px;
    font-size: 0.9em;
  }
}

/* --Logo Styles-- */
.logo-text {
  color: var(--logo-text);
}

/* --SplashScreen-- */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.black-gradient {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #434343,
      #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,
      #434343,
      #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pink-gradient {
  background: #E6447D;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right,
      #cd2f66,
      #E6447D);
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(-90deg,
      #804dee 0%,
      rgba(60, 51, 80, 0) 100%);
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #f12711,
      #f5af19);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #f12711,
      #f5af19);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #11998e,
      #38ef7d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #2f80ed,
      #56ccf2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #cc46d3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top,
      #cc46d3,
      #f30eff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top,
      #cc46d3,
      #f30eff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

/* body.light {
  background-color: #c7b926;
  color: #ce6a0c;
}

/* ThemeToggle Button*/
/* .theme-toggle-button {
  color: #fff;
  padding: 4px 4px;
  cursor: pointer;
  font-size: 30px;
}

.theme-toggle-button:hover {
  transform: scale(1.1);
}

.theme-toggle-button.light-mode:active {
  color: #ffee33;
}

.theme-toggle-button.dark-mode:active {
  color: #915eff;
} */

/* @media screen and (min-width: 600px) {
  .theme-toggle-button {
    padding: 12px;
    border-radius: 8px;
    background-color: #fff;
    color: hsl(248, 19%, 71%);
    position: fixed;
    bottom: 28px;
    right: 88px;
    font-size: 22px;
  }
}

@media screen and (max-width: 599px) {
  .theme-toggle-button {
    position: fixed;
    top: 28px;
    right: 102px;
    font-size: 22px;
  }
} */

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.12);
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 40px #e4e4e4;
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover>.btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover>.btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}