@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/OpenDyslexic-Regular.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-scale: 1;
  --line-height-scale: 1;

  /* Color variables */
  --accent: #7d8dff;
  /* test this color for accent #8875FF */
  --primary: #ffffff;
  --secondary: #EEEEFA;

  --accent-lighter: #afb8fd;
  --accent-light: #8997fe;
  --accent-dark: #7786fe;
  --accent-darker: #374efe;
  --primary-dark: #ffffff;
  --secondary-dark: #ddddfa;

  --white: #ffffff;
  --white-100: #f3f3f3;
  --white-200: #e5e8ff;
  --white-400: #dad6f5;
  --black: #000211;
  --black-100: #101010;
  --gray: #737bc7;
  --gray-100: #abb1db;
  --gray-200: #aaa6c3;
  --gray-300: #5e659c;
  --gray-400: #434871;
  --alert-red: #FD6785;
  --red: #ff0000;
  --yellow: #ffff00;

  /* logo styles */
  --logo-text: var(--accent);
  --logo-text-stroke: var(--accent-light);
  --logo-bg: var(--accent);
  --logo-bg-black: var(--black-100);

  /* text colors */
  --head-text: var(--gray-300);
  --sub-text: var(--gray-300);
  --content: var(--gray-400);
  --hero-content: var(--gray-400);
  --placeholder-text: var(--gray-100);

  --button-bg: var(--accent);
  --button-bg-hover: var(--accent-light);
  --button-bg-active: var(--accent-dark);
  --button-shadow: 2px 4px 6px rgba(84, 92, 147, 0.4);
  --button-text: var(--black);
  --icon-color: var(--gray-300);
  --glow-hover: none;

  --nav-text: var(--gray-300);
  --nav-text-hover: var(--gray-400);
  --nav-text-active: var(--accent-darker);
  --nav-shadow: rgba(92, 99, 155, 0.2);

  --danger-bg: var(--alert-red);
  --success-bg: var(--accent);
  --alert-button-hover: #ffffffdc;
  --alert-button-active: #ffffffad;
  --alert-text: var(--black);
  --alert-button-text: var(--gray-400);

  --splash-screen-bg-color: var(--primary);
  --splash-screen-text: var(--accent);
  --background-color: var(--primary);
  --hero-background-rgba: rgba(220, 220, 255, 0.6);
  --menu-bg: rgba(229, 231, 255, 0.1);
  --menu-header-bg: var(--gray-100);
  --card_border: transparent;
  --card-hover-shadow: var(--gray-100);
  --shadow: var(--gray-200);
  --screen-reader-highlight: #d7dbfd;
  --reading-guide: var(--red);
  --magnifier-background-rgba: rgba(255, 255, 255, 0.8);
}

/* Dark theme styles */
[data-theme='dark'] {

  /* color-scheme:  */
  --primary: #131325;
  /* --primary: #171A2C; */
  --secondary: #1d2035;
  /* --secondary: #222640; */
  --accent-lighter: #939FFF;
  --accent-light: #95a1fc;
  --accent-dark: #5b6efe;
  --accent-darker: #4d62fe;

  --primary-dark: #0d0d1b;
  --secondary-dark: #2b304f;

  /* logo styles */
  --logo-text: var(--white);
  --logo-text-stroke: var(--white);
  --logo-bg-black: var(--primary);

  /* text colors */
  --head-text: var(--white);
  --sub-text: var(--white-100);
  --content: var(--white-200);
  --hero-content: var(--white-100);
  --placeholder-text: var(--gray-200);

  --button-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8);
  --icon-color: var(--white-100);
  --glow-hover: #3f0fff;

  --nav-text: var(--white-400);
  --nav-text-hover: var(--white);
  --nav-text-active: var(--accent-light);
  --nav-shadow: rgba(9, 10, 13, 0.5);

  --splash-screen-text: var(--white);
  --hero-background-rgba: rgba(49, 55, 90, 0.5);
  --menu-bg: rgba(15, 19, 44, 0.6);
  --menu-header-bg: var(--gray-100);
  --card_border: var(--accent);
  --card-hover-shadow: var(--accent-light);
  --shadow: var(--black);
  --screen-reader-highlight: var(--gray-400);
  --reading-guide: var(--yellow);
  --magnifier-background-rgba: rgba(10, 10, 12, 0.8);
}

/* Global styles and utilities */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: "Poppins", sans-serif; */
}

body {
  background-color: var(--primary);
  transition: background-color 1s ease-in-out;
  font-family: "Poppins", sans-serif;
  margin: 0;
  line-height: inherit;
  cursor: url('src/assets/cursor.png'), auto;
}

.text-scalable {
  transform: scale(var(--text-scale));
  transform-origin: top left;
  line-height: calc(1.5rem * var(--line-height-scale));
}

.hero-heading {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
  color: var(--head-text);
  font-weight: 900;
}

.hero-subheading {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
  color: var(--sub-text);
  font-weight: 500;
}

.hero-text {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
  color: var(--hero-content);
}

.section-heading {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
  color: var(--head-text);
  font-weight: bold;
}

.content-heading {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
  color: var(--head-text);
  font-weight: bold;
}

.content-subheading {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
  color: var(--sub-text);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.content-text {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
  color: var(--content);
}

.education-heading {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
  color: var(--sub-text);
  font-weight: 500;
}

.contact-text {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
  color: var(--content);
  font-weight: 500;
}

.casestudy-heading {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
  color: var(--head-text);
  font-weight: bold;
}

.casestudy-subheading {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
  color: var(--sub-text);
  font-weight: bold;
  margin-top: 16px;
}

.casestudy-text {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
  color: var(--content);
}

.button-text {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
}

.splashscreen-text {
  font-size: calc(var(--base-font-size) * var(--text-scale));
  line-height: calc(var(--base-line-height) * var(--line-height-scale));
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 4px;
  font-weight: 600;
}

@media (min-width: 640px) {

  /* sm */
  .hero-heading {
    --base-font-size: 52px;
    --base-line-height: 70px;
  }

  .hero-subheading {
    --base-font-size: 32px;
    --base-line-height: 40px;
  }

  .hero-text {
    --base-font-size: 17px;
    --base-line-height: 32px;
  }

  .section-heading {
    --base-font-size: 48px;
    --base-line-height: 70px;
  }

  .content-heading {
    --base-font-size: 24px;
    --base-line-height: 40px;
  }

  .content-subheading {
    --base-font-size: 18px;
    --base-line-height: 26px;
  }

  .content-text {
    --base-font-size: 16px;
    --base-line-height: 26px;
  }

  .education-heading {
    --base-font-size: 17px;
    --base-line-height: 30px;
  }

  .contact-text {
    --base-font-size: 16px;
    --base-line-height: 26px;
  }

  .casestudy-heading {
    --base-font-size: 36px;
    --base-line-height: 68px;
  }

  .casestudy-subheading {
    --base-font-size: 24px;
    --base-line-height: 68px;
  }

  .casestudy-text {
    --base-font-size: 16px;
    --base-line-height: 38px;
  }

  .button-text {
    --base-font-size: 16px;
  }

  .splashscreen-text {
    --base-font-size: 18px;
    --base-line-height: 10px;
  }
}

@media (min-width: 768px) {

  /* md */
  .hero-heading {
    --base-font-size: 54px;
    --base-line-height: 80px;
  }

  .hero-subheading {
    --base-font-size: 34px;
    --base-line-height: 40px;
  }

  .hero-text {
    --base-font-size: 18px;
    --base-line-height: 36px;
  }

  .section-heading {
    --base-font-size: 48px;
    --base-line-height: 70px;
  }

  .content-heading {
    --base-font-size: 24px;
    --base-line-height: 40px;
  }

  .content-subheading {
    --base-font-size: 18px;
    --base-line-height: 26px;
  }

  .content-text {
    --base-font-size: 16px;
    --base-line-height: 26px;
  }

  .education-heading {
    --base-font-size: 20px;
    --base-line-height: 30px;
  }

  .contact-text {
    --base-font-size: 16px;
    --base-line-height: 26px;
  }

  .casestudy-heading {
    --base-font-size: 36px;
    --base-line-height: 68px;
  }

  .casestudy-subheading {
    --base-font-size: 24px;
    --base-line-height: 68px;
  }

  .casestudy-text {
    --base-font-size: 18px;
    --base-line-height: 38px;
  }

  .button-text {
    --base-font-size: 16px;
  }

  .splashscreen-text {
    --base-font-size: 18px;
    --base-line-height: 10px;
  }
}

@media (min-width: 1024px) {
  /* lg */

  .hero-heading {
    --base-font-size: 64px;
    --base-line-height: 100px;
  }

  .hero-subheading {
    --base-font-size: 34px;
    --base-line-height: 40px;
  }

  .hero-text {
    --base-font-size: 18px;
    --base-line-height: 36px;
  }

  .section-heading {
    --base-font-size: 48px;
    --base-line-height: 70px;
  }

  .content-heading {
    --base-font-size: 24px;
    --base-line-height: 40px;
  }

  .content-subheading {
    --base-font-size: 18px;
    --base-line-height: 26px;
  }

  .content-text {
    --base-font-size: 16px;
    --base-line-height: 26px;
  }

  .education-heading {
    --base-font-size: 20px;
    --base-line-height: 30px;
  }

  .contact-text {
    --base-font-size: 16px;
    --base-line-height: 26px;
  }

  .casestudy-heading {
    --base-font-size: 38px;
    --base-line-height: 68px;
  }

  .casestudy-subheading {
    --base-font-size: 28px;
    --base-line-height: 68px;
  }

  .casestudy-text {
    --base-font-size: 20px;
    --base-line-height: 38px;
  }

  .button-text {
    --base-font-size: 16px;
  }

  .splashscreen-text {
    --base-font-size: 18px;
    --base-line-height: 10px;
  }
}

@media (max-width: 639px) {
  /* xs and smaller screens */

  .hero-heading {
    --base-font-size: 36px;
    --base-line-height: 48px;
  }

  .hero-subheading {
    --base-font-size: 20px;
    --base-line-height: 30px;
  }

  .hero-text {
    --base-font-size: 17px;
    --base-line-height: 28px;
  }

  .section-heading {
    --base-font-size: 30px;
    --base-line-height: 50px;
  }

  .content-heading {
    --base-font-size: 24px;
    --base-line-height: 36px;
  }

  .content-subheading {
    --base-font-size: 18px;
    --base-line-height: 26px;
  }

  .content-text {
    --base-font-size: 16px;
    --base-line-height: 24px;
  }

  .education-heading {
    --base-font-size: 17px;
    --base-line-height: 28px;
  }

  .contact-text {
    --base-font-size: 16px;
    --base-line-height: 26px;
  }

  .casestudy-heading {
    --base-font-size: 28px;
    --base-line-height: 44px;
  }

  .casestudy-subheading {
    --base-font-size: 18px;
    --base-line-height: 44px;
  }

  .casestudy-text {
    --base-font-size: 16px;
    --base-line-height: 38px;
  }

  .button-text {
    --base-font-size: 16px;
  }

  .splashscreen-text {
    --base-font-size: 18px;
    --base-line-height: 10px;
  }
}

/* Custom cursors */
.custom-pointer {
  cursor: url('src/assets/pointer.png'), pointer;
}

.custom-grab {
  cursor: url('src/assets/grab.png'), grab;
}

.custom-grabbing {
  cursor: url('src/assets/grabbing.png'), grabbing;
}

.big-cursor .custom-pointer {
  cursor: url('/src/assets/big_pointer.png'), pointer;
}

.big-cursor .custom-grab {
  cursor: url('/src/assets/big_grab.png'), grab;
}

.big-cursor .custom-grabbing {
  cursor: url('/src/assets/big_grabbing.png'), grabbing;
}

.big-cursor {
  cursor: url('src/assets/big_cursor.png'), auto;
}

.bg {
  background-color: var(--primary);
  transition: background-color 500ms ease-in-out;
  color: var(--content);
}

.night-bg {
  background-color: #020309;
}

.hidden {
  display: none;
}

/* --SplashScreen-- */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: var(--primary);
  color: var(--splash-screen-text);
}

/* --Text Styles-- */
.head-text {
  color: var(--head-text);
  transition: color 500ms ease-in-out;
}

.sub-text {
  color: var(--sub-text);
  transition: color 500ms ease-in-out;
}

.content {
  color: var(--content);
  transition: color 500ms ease-in-out;
}

.hero-content {
  color: var(--hero-content);
  transition: color 500ms ease-in-out;
}

.hero-highlight-text {
  color: var(--accent);
  transition: color 500ms ease-in-out;
}

/* Primary button style  */

.button {
  display: inline-block;
  padding: 16px 24px;
  background-color: var(--button-bg);
  color: var(--button-text);
  font-weight: 600;
  text-align: center;
  border-radius: 6px;
  box-shadow: var(--button-shadow);
  transition: background-color 100ms ease-in-out;
  cursor: url('src/assets/pointer.png'), pointer;
}

.big-cursor .button {
  cursor: url('src/assets/big_pointer.png'), pointer;
}

.button:hover {
  background: var(--button-bg-hover);
}

.button:active {
  background-color: var(--button-bg-active);
}

.button:focus {
  outline: none;
}

/* floating button  */

.floating-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border: none;
  outline: none;
  cursor: url('src/assets/pointer.png'), pointer;
  padding: 10px;
  color: var(--black);
  background-color: var(--accent);
  box-shadow: inset 10px 0 10px rgba(209, 209, 255, 0.509), inset -12px 0 10px rgba(0, 0, 54, 0.322);
}

.floating-button:hover {
  background-color: var(--accent-light);
}

.floating-button:active {
  background-color: var(--accent-dark);
}

@media screen and (max-width: 992px) {
  .floating-button {
    width: 44px;
    height: 48px;
    /* font-size: 24px; */
  }
}

@media screen and (min-width: 993px) {
  .floating-button {
    width: 56px;
    height: 60px;
    /* font-size: 28px; */
  }
}

.big-cursor .floating-button {
  cursor: url('src/assets/big_pointer.png'), pointer;
}

/* icon button styles  */

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 30px;
  padding: 6px;
  color: var(--icon-color);
  transition: all 0.3s ease;
  cursor: url('src/assets/pointer.png'), pointer;
}

.big-cursor .icon-button {
  cursor: url('src/assets/big_pointer.png'), pointer;
}

.icon-button:hover {
  color: var(--accent);
  filter: drop-shadow(0 0 8px var(--glow-hover));
  scale: 1.1;
  transition: filter 0.1s ease, scale 0.1s ease;
}

.icon-button:active {
  color: var(--accent-dark);
  scale: 1;
  filter: none;
}

.icon-button.active {
  color: var(--accent);
  scale: 1;
  filter: none;
}

.icon-button.active:hover {
  color: var(--accent);
  filter: drop-shadow(0 0 8px var(--glow-hover));
  scale: 1.1;
  transition: filter 0.1s ease, scale 0.1s ease;
}

.icon-button.active:active {
  color: var(--accent-dark);
  scale: 1;
  filter: none;
}

@media (max-width: 992px) {
  .icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border: none;
    border-radius: 50px;
    padding: 4px 4px;
    transition: all 0.3s ease;
    color: var(--icon-color);
    font-size: 30px;
  }

  .icon-button:hover {
    color: var(--accent);
    filter: none;
    scale: 1;
  }

  .icon-button:active {
    color: var(--accent-dark);
    filter: none;
    scale: 1.1;
    transition: scale 0.1s ease;
  }

  .icon-button.active:active {
    color: var(--accent-dark);
    filter: none;
    scale: 1.1;
    transition: scale 0.1s ease;
  }

  .icon-button.active {
    color: var(--accent);
    filter: none;
    scale: 1;
  }
}

/* --Social Icons Styles-- */

.icon-button-container {
  display: flex;
  align-items: center;
  /* gap: 2px; */
  transition: background-color 100ms ease-in-out, transform 100ms ease-in-out;
}

/* Education Section Styles */

.bullet {
  list-style-type: disc;
  color: var(--accent);
  font-size: 1.5em;
  padding-left: 20px;
}

.bullet li {
  margin-bottom: 10px;
}

/* --footer styles-- */
.footer {
  width: 100%;
  padding: 60px 0 0 0;
  position: relative;
}

.footer-content {
  text-align: center;
  padding: 0 20px;
  transition: color 500ms ease-in-out;
}

.scroll-up-button {
  color: var(--head-text);
}

/* case study */
.square-before::before {
  content: '';
  display: inline-block;
  width: 0.4em;
  height: 0.8em;
  background-color: var(--accent);
  margin-right: 8px;
}

/* ball canvas */

.ball-container {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

@media screen and (max-width: 992px) {
  .ball-container {
    gap: 10px;
    margin-top: 20px;
  }
}

.ball {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 993px) {
  .ball {
    width: 60px;
    height: 60px;
  }
}

/* canvas- styles */
.canvas-loader {
  font-size: 10px;
  color: var(--head-text);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 80px;
  display: block;
}

/* Dyslexia font */

.dyslexia-font {
  font-family: 'OpenDyslexic', sans-serif;
}

/* Reading mode  */

body.read-mode {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

body.read-mode.sans-serif {
  font-family: 'Arial', sans-serif;
}

body.read-mode.serif {
  font-family: 'Times New Roman', serif;
}

body.read-mode.monospace {
  font-family: 'Courier New', monospace;
}

body.read-mode.dyslexia-font {
  font-family: 'OpenDyslexic', sans-serif;
}

/* Default font size for read mode */

body.read-mode h1 {
  font-weight: 600;
}

body.read-mode h2 {
  font-weight: 500;
}

/* Base text size */
body.read-mode h1,
body.read-mode h2,
body.read-mode h3,
body.read-mode p {
  transition: font-size 0.3s ease;
}

/* Small text size */
body.read-mode.font-size-14 h1 {
  font-size: 24px;
}

body.read-mode.font-size-14 h2 {
  font-size: 18px;
}

body.read-mode.font-size-14 h3 {
  font-size: 16px;
}

body.read-mode.font-size-14 p {
  font-size: 14px;
}

/* Medium text size (default) */
body.read-mode.font-size-18 h1 {
  font-size: 32px;
}

body.read-mode.font-size-18 h2 {
  font-size: 24px;
}

body.read-mode.font-size-18 h3 {
  font-size: 20px;
}

body.read-mode.font-size-18 p {
  font-size: 18px;
}

/* Large text size */
body.read-mode.font-size-22 h1 {
  font-size: 40px;
}

body.read-mode.font-size-22 h2 {
  font-size: 30px;
}

body.read-mode.font-size-22 h3 {
  font-size: 26px;
}

body.read-mode.font-size-22 p {
  font-size: 22px;
}

/* Font weight classes */
body.read-mode.font-weight-400 h1 {
  font-weight: 400;
}

body.read-mode.font-weight-400 h2 {
  font-weight: 400;
}

body.read-mode.font-weight-400 h3 {
  font-weight: 400;
}

body.read-mode.font-weight-400 p {
  font-weight: 400;
}

body.read-mode.font-weight-700 h1 {
  font-weight: 700;
}

body.read-mode.font-weight-700 h2 {
  font-weight: 700;
}

body.read-mode.font-weight-700 h3 {
  font-weight: 700;
}

body.read-mode.font-weight-700 p {
  font-weight: 700;
}

/* Layout adjustment */

.read-mode-content {
  width: var(--read-mode-content-width, 100%);
  margin: 0 auto;
}

/* Text alignment classes */
body.read-mode.text-align-left p,
body.read-mode.text-align-left h1,
body.read-mode.text-align-left h2,
body.read-mode.text-align-left h3 {
  text-align: left;
}

body.read-mode.text-align-center p,
body.read-mode.text-align-center h1,
body.read-mode.text-align-center h2,
body.read-mode.text-align-center h3 {
  text-align: center;
}

body.read-mode.text-align-right p,
body.read-mode.text-align-right h1,
body.read-mode.text-align-right h2,
body.read-mode.text-align-right h3 {
  text-align: right;
}

body.read-mode.text-align-justify p {
  text-align: justify;
}

/* Word spacing classes */
body.read-mode {
  --word-spacing: 0px;
  /* Default word spacing */
}

body.read-mode p,
body.read-mode h1,
body.read-mode h2,
body.read-mode h3 {
  word-spacing: var(--word-spacing);
}

/* Adjust spacing for different word spacing values */
body.read-mode.word-spacing-2 {
  --word-spacing: 2px;
}

body.read-mode.word-spacing-4 {
  --word-spacing: 4px;
}

body.read-mode.word-spacing-6 {
  --word-spacing: 6px;
}

body.read-mode.word-spacing-8 {
  --word-spacing: 8px;
}

/* Character spacing classes */
body.read-mode {
  --letter-spacing: 0px;
  /* Default character spacing */
}

body.read-mode p,
body.read-mode h1,
body.read-mode h2,
body.read-mode h3 {
  letter-spacing: var(--letter-spacing);
}

/* Adjust spacing for different letter spacing values */
body.read-mode.letter-spacing-0 {
  --letter-spacing: 0px;
}

body.read-mode.letter-spacing-1 {
  --letter-spacing: 1px;
}

body.read-mode.letter-spacing-2 {
  --letter-spacing: 2px;
}

body.read-mode.letter-spacing-3 {
  --letter-spacing: 3px;
}

body.read-mode.letter-spacing-4 {
  --letter-spacing: 4px;
}

/* Line spacing classes */

body.read-mode p,
body.read-mode h1,
body.read-mode h2,
body.read-mode h3 {
  line-height: var(--line-height);
}

/* Line spacing options */
body.read-mode.line-height-1 {
  --line-height: 1;
}

body.read-mode.line-height-2 {
  --line-height: 1.6;
}

body.read-mode.line-height-3 {
  --line-height: 2;
}

body.read-mode.line-height-4 {
  --line-height: 2.4;
}

body.read-mode.line-height-5 {
  --line-height: 2.8;
}

.read-mode .navbar,
.read-mode .footer,
.read-mode .toolbar,
.read-mode .navigation-pane,
.read-mode .minimap-container,
.read-mode .progress-bar,
.read-mode .square-before {
  display: none !important;
}

.read-mode .read-mode-link {
  color: var(--tertiary);
  cursor: url('src/assets/big_pointer.png'), pointer;
}

/* Read mode accessibility menu  */

.read-mode .accessibility-menu-heading {
  background-color: var(--menu-header-bg);
  color: var(--accent);
}

.read-mode .accessibility-features button.active {
  background-color: var(--accent);
  color: var(--primary);
}

.read-mode .accessibility-menu-button {
  background-color: var(--accent);
  color: var(--primary);
}

.read-mode .screen-reader-button {
  background-color: var(--secondary);
  color: var(--accent);
}

.read-mode .screen-reader-button:hover {
  background-color: var(--secondary-dark);
}

.read-mode .screen-reader-button.active {
  background-color: var(--accent);
  color: var(--primary);
}

/* Read mode themes  */

.dark-theme {
  --accent: #ffffff;
  --primary: #1C1B22;
  --secondary: #42414d;
  --tertiary: #00dafc;

  --accent-lighter: #9900ff;
  --accent-light: #ffffff;
  --accent-dark: #656565;
  --accent-darker: #9900ff;
  --primary-dark: #101014;
  --secondary-dark: #6d687e;

  --white: #ffffff;
  --white-100: #ffffff;
  --white-200: #ffffff;
  --white-400: #9900ff;

  --black: #000000;
  --black-100: #9900ff;

  --gray: #9900ff;
  --gray-100: #3a3a3a;
  --gray-200: #ffffff;
  --gray-300: #9900ff;
  --gray-400: #9900ff;

  --alert-red: #fff;

  /* text colors */
  --head-text: var(--white);
  --sub-text: var(--white);
  --content: var(--white-100);
  --hero-content: var(--white-100);
  --placeholder-text: var(--gray-100);

  --button-bg: var(--accent);
  --button-bg-hover: var(--accent-light);
  --button-bg-active: var(--accent-dark);
  --button-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
  --button-text: var(--black);
  --icon-color: var(--gray-300);
  --glow-hover: none;

  --background-color: var(--primary);
  --hero-background-rgba: var(--secondary);
  --menu-header-bg: var(--secondary);
  --shadow: var(--black);
  --screen-reader-highlight: var(--secondary-dark);
  --magnifier-background-rgba: rgba(0, 0, 0, 0.9);
  --reading-guide: var(--red);
  --magnifier-background-rgba: rgba(0, 0, 0, 0.8);
}

/* Light Mode */
.light-theme {

  --accent: #000000;
  --primary: #ffffff;
  --secondary: #ececec;
  --accent-light: #cfcfcf;
  --accent-dark: #656565;
  --secondary-dark: #d3d3d3;
  --tertiary: #0061e0;

  --black: #000000;
  --white: #ffffff;
  --gray: #252525;

  /* logo styles */
  --logo-text: var(--white);
  --logo-text-stroke: var(--white);
  --logo-bg: var(--white);
  --logo-bg-black: var(--black);

  --background-color: var(--primary);
  --splash-screen-bg-color: var(--primary);
  --splash-screen-text: var(--accent);

  /* text colors */
  --head-text: var(--black);
  --sub-text: var(--black);
  --content: var(--black);
  --hero-content: var(--black);

  --placeholder-text: var(--gray);

  --button-bg: var(--accent);
  --button-bg-hover: var(--gray);
  --button-bg-active: var(--gray);
  --button-shadow: 2px 4px 6px rgba(141, 141, 141, 0.4);
  --button-text: var(--primary);

  --nav-text: var(--white);
  --nav-text-hover: var(--white);
  --nav-text-active: var(--gray);
  --nav-shadow: rgba(90, 90, 90, 0.2);

  --toggle-bg: var(--accent);
  --toggle-fg: var(--primary);
  --hero-background-rgba: var(--secondary);
  --field-bg: var(--primary);

  /* alert popup */
  --danger-bg: var(--white);
  --success-bg: var(--white);
  --alert-button-hover: var(--secondary);
  --alert-button-active: var(--secondary);
  --alert-text: var(--black);
  --alert-button-text: var(--white);

  --card_border: transparent;
  --card-hover-shadow: var(--gray);
  --shadow: var(--gray);
  --screen-reader-highlight: var(--secondary);
  --magnifier-background-rgba: rgba(255, 255, 255, 0.8);
}

/* Sepia Mode */
.sepia-theme {
  --accent: #5b4636;
  --primary: #f4ecd8;
  --secondary: #e0d7c5;
  --secondary-dark: #c5beaf;
  --tertiary: #0061e0;
  --accent-light: #a37f62;

  /* logo styles */
  --logo-text: var(--primary);
  --logo-text-stroke: var(--primary);
  --logo-bg: var(--primary);
  --logo-bg-black: var(--black);

  --background-color: var(--primary);
  --splash-screen-bg-color: var(--primary);
  --splash-screen-text: var(--accent);

  /* text colors */
  --head-text: var(--accent);
  --sub-text: var(--accent);
  --content: var(--accent);
  --hero-content: var(--accent);

  --placeholder-text: var(--accent);

  --button-bg: var(--accent);
  --button-bg-hover: var(--secondary);
  --button-bg-active: var(--secondary);
  --button-shadow: 2px 4px 6px rgba(141, 141, 141, 0.4);
  --button-text: var(--primary);

  --nav-text: var(--white);
  --nav-text-hover: var(--secondary);
  --nav-text-active: var(--accent);
  --nav-shadow: rgba(38, 35, 31, 0.2);

  --toggle-bg: var(--accent);
  --toggle-fg: var(--primary);
  --hero-background-rgba: var(--secondary);
  --field-bg: var(--primary);

  /* alert popup */
  --danger-bg: var(--primary);
  --success-bg: var(--primary);
  --alert-button-hover: var(--secondary);
  --alert-button-active: var(--secondary);
  --alert-text: var(--accent);
  --alert-button-text: var(--accent);

  --card_border: transparent;
  --card-hover-shadow: var(--primary);
  --shadow: var(--secondary);
  --screen-reader-highlight: var(--secondary);
  --magnifier-background-rgba: rgba(255, 237, 221, 0.8);
}

/* High Contrast Mode */
.contrast-theme {
  --accent: #fff200;
  --primary: #000000;
  --secondary: #1C1B22;
  --secondary-dark: #454228;
  --tertiary: #9891ff;

  --white: #ffffff;

  --logo-text: var(--primary);
  --logo-text-stroke: var(--primary);
  --logo-bg: var(--primary);
  --logo-bg-black: var(--black);

  --background-color: var(--primary);
  --splash-screen-bg-color: var(--primary);
  --splash-screen-text: var(--accent);

  /* text colors */
  --head-text: var(--white);
  --sub-text: var(--white);
  --content: var(--white);
  --hero-content: var(--white);

  --placeholder-text: var(--white);

  --button-bg: var(--accent);
  --button-bg-hover: var(--secondary);
  --button-bg-active: var(--secondary);
  --button-shadow: 2px 4px 6px rgba(141, 141, 141, 0.4);
  --button-text: var(--primary);

  --nav-text: var(--white);
  --nav-text-hover: var(--secondary);
  --nav-text-active: var(--accent);
  --nav-shadow: rgba(38, 35, 31, 0.2);

  --toggle-bg: var(--accent);
  --toggle-fg: var(--primary);
  --hero-background-rgba: var(--secondary);
  --field-bg: var(--primary);

  /* alert popup */
  --danger-bg: var(--primary);
  --success-bg: var(--primary);
  --alert-button-hover: var(--secondary);
  --alert-button-active: var(--secondary);
  --alert-text: var(--accent);
  --alert-button-text: var(--accent);

  --card_border: transparent;
  --card-hover-shadow: var(--primary);
  --shadow: var(--secondary);
  --screen-reader-highlight: var(--secondary);
  --magnifier-background-rgba: rgba(0, 0, 0, 0.8);
}

/* High Contrast themes */

.high-contrast {
  /* color-scheme:  */
  --accent: #ffffff;
  --primary: #000000;
  --secondary: #1a1a1a;

  --accent-lighter: #f5f5f5;
  --accent-light: #e4e4e4;
  --accent-dark: #bababa;
  --accent-darker: #969696;

  --secondary-dark: #1a1a1a;

  --white: #ffffff;
  --white-100: #f3f3f3;
  --white-200: #e5e8ff;
  --white-400: #dad6f5;

  --black: #000211;
  --black-100: #101010;

  --gray-100: #c7c7c7;
  --gray-200: #8a8c97;
  --gray-300: #696b76;
  --gray-400: #4a4b4f;

  --alert-red: #fff;

  /* logo styles */
  --logo-text: var(--white);
  --logo-text-stroke: var(--white);
  --logo-bg: var(--white);
  --logo-bg-black: var(--black-100);

  --background-color: var(--primary);
  --splash-screen-bg-color: var(--primary);
  --splash-screen-text: var(--accent);

  /* text colors */
  --head-text: var(--white);
  --sub-text: var(--white);
  --content: var(--white-100);
  --hero-content: var(--white-100);

  --placeholder-text: var(--gray-100);

  --button-bg: var(--accent);
  --button-bg-hover: var(--accent-light);
  --button-bg-active: var(--accent-dark);
  --button-shadow: 2px 4px 6px rgba(141, 141, 141, 0.4);
  --button-text: var(--black);

  --nav-text: var(--white);
  --nav-text-hover: var(--white-400);
  --nav-text-active: var(--gray-200);
  --nav-shadow: rgba(90, 90, 90, 0.2);

  --toggle-bg: var(--accent);
  --toggle-fg: var(--primary);
  --hero-background-rgba: var(--secondary);
  --field-bg: var(--primary);

  /* alert popup */
  --danger-bg: var(--white);
  --success-bg: var(--white);
  --alert-button-hover: var(--secondary);
  --alert-button-active: var(--secondary-dark);
  --alert-text: var(--black);
  --alert-button-text: var(--white);

  --card_border: transparent;
  --card-hover-shadow: var(--gray-100);
  --shadow: var(--gray-200);
  --screen-reader-highlight: var(--secondary-dark);
  --magnifier-background-rgba: rgba(0, 0, 0, 0.8);
}

.cyan-on-black {
  /* color-scheme:  */
  --accent: #13d8ff;
  --primary: #000000;
  --secondary: #1a1a1a;
  --accent-lighter: #f5f5f5;
  --accent-light: #e4e4e4;
  --accent-dark: #bababa;
  --accent-darker: #969696;

  --secondary-dark: #1a1a1a;

  --white: #ffffff;
  --white-100: #f3f3f3;
  --white-200: #e5e8ff;
  --white-400: #dad6f5;

  --black: #000211;
  --black-100: #101010;

  --gray-100: #c7c7c7;
  --gray-200: #8a8c97;
  --gray-300: #696b76;
  --gray-400: #4a4b4f;

  --alert-red: #fff;

  /* logo styles */
  --logo-text: var(--white);
  --logo-text-stroke: var(--white);
  --logo-bg: var(--white);
  --logo-bg-black: var(--black-100);

  --background-color: var(--primary);
  --splash-screen-bg-color: var(--primary);
  --splash-screen-text: var(--accent);

  /* text colors */
  --head-text: var(--white);
  --sub-text: var(--white);
  --content: var(--white-100);
  --hero-content: var(--white-100);

  --placeholder-text: var(--gray-100);

  --button-bg: var(--accent);
  --button-bg-hover: var(--accent-light);
  --button-bg-active: var(--accent-dark);
  --button-shadow: 2px 4px 6px rgba(141, 141, 141, 0.4);
  --button-text: var(--black);

  --nav-text: var(--white);
  --nav-text-hover: var(--white-400);
  --nav-text-active: var(--gray-200);
  --nav-shadow: rgba(90, 90, 90, 0.2);

  --toggle-bg: var(--accent);
  --toggle-fg: var(--primary);
  --hero-background-rgba: var(--secondary);
  --field-bg: var(--primary);

  /* alert popup */
  --danger-bg: var(--white);
  --success-bg: var(--white);
  --alert-button-hover: var(--secondary);
  --alert-button-active: var(--secondary-dark);
  --alert-text: var(--black);
  --alert-button-text: var(--white);

  --card_border: transparent;
  --card-hover-shadow: var(--gray-100);
  --shadow: var(--gray-200);
  --screen-reader-highlight: var(--secondary-dark);
  --magnifier-background-rgba: rgba(0, 0, 0, 0.8);
}

.yellow-on-black {
  /* color-scheme:  */
  --accent: #fff313;
  --primary: #000000;
  --secondary: #1a1a1a;
  --accent-lighter: #f5f5f5;
  --accent-light: #e4e4e4;
  --accent-dark: #bababa;
  --accent-darker: #969696;

  --secondary-dark: #1a1a1a;

  --white: #ffffff;
  --white-100: #f3f3f3;
  --white-200: #e5e8ff;
  --white-400: #dad6f5;

  --black: #000211;
  --black-100: #101010;

  --gray-100: #c7c7c7;
  --gray-200: #8a8c97;
  --gray-300: #696b76;
  --gray-400: #4a4b4f;

  --alert-red: #fff;

  /* logo styles */
  --logo-text: var(--white);
  --logo-text-stroke: var(--white);
  --logo-bg: var(--white);
  --logo-bg-black: var(--black-100);

  --background-color: var(--primary);
  --splash-screen-bg-color: var(--primary);
  --splash-screen-text: var(--accent);

  /* text colors */
  --head-text: var(--white);
  --sub-text: var(--white);
  --content: var(--white-100);
  --hero-content: var(--white-100);

  --placeholder-text: var(--gray-100);

  --button-bg: var(--accent);
  --button-bg-hover: var(--accent-light);
  --button-bg-active: var(--accent-dark);
  --button-shadow: 2px 4px 6px rgba(141, 141, 141, 0.4);
  --button-text: var(--black);

  --nav-text: var(--white);
  --nav-text-hover: var(--white-400);
  --nav-text-active: var(--gray-200);
  --nav-shadow: rgba(90, 90, 90, 0.2);

  --toggle-bg: var(--accent);
  --toggle-fg: var(--primary);
  --hero-background-rgba: var(--secondary);
  --field-bg: var(--primary);

  /* alert popup */
  --danger-bg: var(--white);
  --success-bg: var(--white);
  --alert-button-hover: var(--secondary);
  --alert-button-active: var(--secondary-dark);
  --alert-text: var(--black);
  --alert-button-text: var(--white);

  --card_border: transparent;
  --card-hover-shadow: var(--gray-100);
  --shadow: var(--gray-200);
  --screen-reader-highlight: var(--secondary-dark);
  --magnifier-background-rgba: rgba(0, 0, 0, 0.8);
}

.green-on-black {
  /* color-scheme:  */
  --accent: #2fff13;
  --primary: #000000;
  --secondary: #1a1a1a;
  --accent-lighter: #f5f5f5;
  --accent-light: #e4e4e4;
  --accent-dark: #bababa;
  --accent-darker: #969696;

  --secondary-dark: #1a1a1a;

  --white: #ffffff;
  --white-100: #f3f3f3;
  --white-200: #e5e8ff;
  --white-400: #dad6f5;

  --black: #000211;
  --black-100: #101010;

  --gray-100: #c7c7c7;
  --gray-200: #8a8c97;
  --gray-300: #696b76;
  --gray-400: #4a4b4f;

  --alert-red: #fff;

  /* logo styles */
  --logo-text: var(--white);
  --logo-text-stroke: var(--white);
  --logo-bg: var(--white);
  --logo-bg-black: var(--black-100);

  --background-color: var(--primary);
  --splash-screen-bg-color: var(--primary);
  --splash-screen-text: var(--accent);

  /* text colors */
  --head-text: var(--white);
  --sub-text: var(--white);
  --content: var(--white-100);
  --hero-content: var(--white-100);

  --placeholder-text: var(--gray-100);

  --button-bg: var(--accent);
  --button-bg-hover: var(--accent-light);
  --button-bg-active: var(--accent-dark);
  --button-shadow: 2px 4px 6px rgba(141, 141, 141, 0.4);
  --button-text: var(--black);

  --nav-text: var(--white);
  --nav-text-hover: var(--white-400);
  --nav-text-active: var(--gray-200);
  --nav-shadow: rgba(90, 90, 90, 0.2);

  --toggle-bg: var(--accent);
  --toggle-fg: var(--primary);
  --hero-background-rgba: var(--secondary);
  --field-bg: var(--primary);

  /* alert popup */
  --danger-bg: var(--white);
  --success-bg: var(--white);
  --alert-button-hover: var(--secondary);
  --alert-button-active: var(--secondary-dark);
  --alert-text: var(--black);
  --alert-button-text: var(--white);

  --card_border: transparent;
  --card-hover-shadow: var(--gray-100);
  --shadow: var(--gray-200);
  --screen-reader-highlight: var(--secondary-dark);
  --magnifier-background-rgba: rgba(0, 0, 0, 0.8);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}