.accessibility-menu-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  border: none;
  outline: none;
  padding: 10px;
  background-color: var(--accent);
  color: var(--black);
  cursor: url('/assets/pointer.png'), pointer;
  box-shadow: inset 10px 0 10px rgba(209, 209, 255, 0.509), inset -12px 0 10px rgba(0, 0, 54, 0.322);
  z-index: 10;
}

.big-cursor .accessibility-menu-button {
  cursor: url('/assets/big_pointer.png'), pointer;
}

@media (max-width: 992px) {
  .accessibility-menu-button {
    position: fixed;
    bottom: 18px;
    right: 18px;
    width: 44px;
    height: 48px;
    font-size: 26px;
  }
}

@media (min-width: 993px) {
  .accessibility-menu-button {
    position: fixed;
    bottom: 18px;
    right: 18px;
    width: 56px;
    height: 60px;
    font-size: 28px;
  }

  .accessibility-menu-button:hover {
    background-color: var(--accent-light);
    cursor: url('/assets/pointer.png'), pointer;
  }

  .accessibility-menu-button:active {
    background-color: var(--accent-dark);
  }
}

.accessibility-menu {
  position: fixed;
  bottom: 90px;
  right: 20px;
  height: 60vh;
  width: 30vw;
  overflow-y: auto;
  /* gap: 16px; */
  background: var(--primary-dark);
  box-shadow: -2px -2px 16px var(--shadow);
  /* box-shadow: -2px -2px 10px rgb(125, 141, 255), 3px 3px 3px rgba(0, 0, 0, 0.2); */
  border-radius: 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 9;
  border: 2px solid var(--accent);
  padding-bottom: 16px;
}

@media (max-width: 992px) {
  .accessibility-menu {
    position: fixed;
    width: 100%;
    height: 70vh;
    bottom: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    border: none;
    border-top: 4px solid var(--accent);
    padding-bottom: 80px;
  }
}

.accessibility-menu.open {
  transform: translateY(0);
}

.accessibility-menu-heading {
  display: flex;
  /* background-color: var(--menu-header-bg); */
  background-color: var(--primary-dark);
  color: var(--head-text);
  padding: 14px;
  font-weight: 600;
  justify-content: center;
  font-size: larger;
}

.accessibility-tabs {
  display: flex;
  /* border-top: 4px solid var(--menu-header-bg); */
  border-bottom: 1px solid var(--accent);
  position: sticky;
  top: 0;
  z-index: 1;
}

.accessibility-tabs button {
  flex: 1;
  padding: 16px 12px;
  background: var(--primary-dark);
  /* border: 1px solid var(--secondary-dark); */
  cursor: pointer;

}

.accessibility-tabs button:hover {
  background: var(--secondary-dark);
}

.accessibility-tabs button.active {
  background: var(--primary-dark);
  font-weight: 500;
  border-bottom: solid 4px var(--accent);
}

.accessibility-tab-content {
  padding: 1px;
}

.accessibility-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px 16px 0 16px;
}

.accessibility-features button {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  background-color: var(--secondary);
  color: var(--content);
  border: none;
  box-shadow: var(--button-shadow);
  border-radius: 6px;
  padding: 12px;
  padding-top: 18px;
  cursor: url('/assets/pointer.png'), pointer;
  text-align: center;
  font-size: 16px
}

.big-cursor .accessibility-features button {
  cursor: url('/assets/big_pointer.png'), pointer;
}

.accessibility-features button:hover {
  background-color: var(--secondary-dark);
}

.accessibility-features button.active {
  background-color: var(--accent);
  color: var(--black);
  font-weight: 500;
}

.accessibility-features button.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
  box-shadow: none;
  /* background-color: var(--gray-100); */
  /* color: var(--gray-300); */
}

.screen-reader-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 0 16px;
}

.screen-reader-button {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  color: var(--content);
  border: none;
  box-shadow: var(--button-shadow);
  border-radius: 6px;
  padding: 12px;
  padding-top: 18px;
  cursor: url('/assets/pointer.png'), pointer;
  text-align: center;
  font-size: 16px;
}

.big-cursor .screen-reader-button {
  cursor: url('/assets/big_pointer.png'), pointer;
}

.screen-reader-button:hover {
  background-color: var(--secondary-dark);
}

.screen-reader-button.active {
  background-color: var(--accent);
  color: var(--black);
  font-weight: 500;
}

.screen-reader-options {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.screen-reader-option {
  flex: 1;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  color: var(--content);
  outline: none;
  border: none;
  box-shadow: var(--button-shadow);
  border-radius: 6px;
  padding: 17px;
  cursor: url('/assets/pointer.png'), pointer;
}

.big-cursor .screen-reader-option {
  cursor: url('/assets/big_pointer.png'), pointer;
}

.screen-reader-option:hover {
  background-color: var(--secondary-dark);
}

.screen-reader-option.active {
  background-color: var(--secondary);
  outline: 2px solid var(--accent);
  color: var(--accent);
  font-weight: 500;
}

.screen-reader-option:active {
  background-color: var(--accent);
  outline: 2px solid var(--accent);
  color: var(--black);
  font-weight: 500;
}

.screen-reader-option-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.screen-reader-options-row {
  display: flex;
  gap: 12px;
  width: 100%;
}

.profile-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 0 16px;
}

.accessibility-profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: left;
  align-items: center;
  background-color: var(--secondary);
  color: var(--content);
  border: none;
  box-shadow: var(--button-shadow);
  border-radius: 6px;
  padding: 12px 16px;
  padding-top: 18px;
  cursor: url('/assets/pointer.png'), pointer;
  text-align: center;
  font-size: 16px;
}

/* Text adjustment button styles */

.text-adjustment-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 0 16px;
}

.text-adjustment-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.text-adjustment-button {
  flex: 1;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark);
  color: var(--content);
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 16px;
  cursor: url('/assets/pointer.png'), pointer;
}

.big-cursor .text-adjustment-button {
  cursor: url('/assets/big_pointer.png'), pointer;
}

.text-adjustment-button:hover {
  background-color: var(--primary);
}

.text-adjustment-button.active {
  background-color: var(--secondary);
  outline: 2px solid var(--accent);
  color: var(--accent);
  font-weight: 500;
}

.text-adjustment-button:active {
  background-color: var(--accent);
  outline: 2px solid var(--accent);
  color: var(--black);
  font-weight: 500;
}

.accessibility-heading {
  font-size: 16px;
}

.reset-button {
  background-color: var(--accent);
  color: var(--black);
  padding: 4px 12px;
  border-radius: 40px;
  font-size: small;
  font-weight: 500;
}

/* screen reader highlight  */
.highlight {
  /* background-color: rgba(145, 137, 255, 0.5); */
  background-color: var(--screen-reader-highlight);
}

.grayscale {
  filter: grayscale(100%);
}

.grayscale-icon {
  color: var(--gray-400);
  background-color: var(--white);
  border-radius: 50px;
  padding: 2px;
  width: 26px;
  height: 26px;
}

.low-saturation {
  filter: saturate(60%);
}

.low-saturation-icon {
  color: var(--accent-light);
  background-color: var(--primary-dark);
  border-radius: 50px;
  padding: 2px;
  width: 26px;
  height: 26px;
}

.high-saturation {
  filter: saturate(150%);
}

.high-saturation-icon {
  color: var(--accent-darker);
  background-color: var(--primary-dark);
  border-radius: 50px;
  padding: 2px;
  width: 26px;
  height: 26px;
}

.blue-filter {
  /* filter: sepia(0.5) saturate(1) hue-rotate(-20deg) brightness(0.9); */
  /* background: rgb(255, 255, 191); */
  background: rgb(255, 212, 164);
  mix-blend-mode: multiply;
}

.landmark-colors .arrow-icon,
.landmark-colors h1,
.landmark-colors h2,
.landmark-colors h3,
.landmark-colors .nav-title {
  color: var(--landmark-color);
}

.landmark-colors .nav-title-active {
  border-bottom: solid 4px var(--landmark-color);
}

.color-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  padding: 16px 16px 16px 16px;
  background-color: var(--secondary);
  border-radius: 6px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
}

.color-option {
  border: none;
  padding: 20px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 2px 2px 4px var(--shadow);
  /* outline: 1px solid var(--head-text); */
}

.color-option.active {
  outline: 3px solid var(--accent);
}

.highlight-link {
  background-color: var(--highlight);
  color: var(--highlight-text);
  border-radius: 3px;
  padding: 4px;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.highlight-link:hover {
  background-color: var(--highlight-hover);
}

.highlight-link svg {
  fill: #000;
}

.highlight-link:hover svg {
  fill: #000;
}

/* highlight titles */

.highlight-titles .section-heading,
.highlight-titles .content-heading,
.highlight-titles .casestudy-heading,
.highlight-titles h1,
.highlight-titles h2 {
  background-color: var(--highlight);
  color: var(--highlight-text);
  width: fit-content;
}

.contrast-themes {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

.contrast-themes button {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 12px;
  background-color: var(--secondary);
  color: var(--content);
  border: none;
  outline: none;
  box-shadow: var(--button-shadow);
  border-radius: 6px;
  padding: 12px;
  margin-top: 16px;
  cursor: url('/assets/pointer.png'), pointer;
}

.contrast-themes button:hover {
  background-color: var(--secondary-dark);
}

.contrast-themes button:active {
  background-color: var(--accent);
  outline: 2px solid var(--accent);
  color: var(--black);
  font-weight: 500;
}

.contrast-themes button.active {
  background-color: var(--secondary);
  outline: 2px solid var(--accent);
  color: var(--accent);
  font-weight: 500;
}

.hide-images img {
  display: none;
}

.hide-images .image-container {
  display: none;
}

/* Reading Guide */

.reading-guide {
  position: fixed;
  background-color: var(--reading-guide);
  height: 8px;
  width: 80%;
  pointer-events: none;
  z-index: 102;
  transform: translateX(-50%);
  left: 50%;
}

/* Reading Mask  */

.reading-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
  z-index: 100;
}

.mask-window {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: rgba(238, 0, 0, 0.15);
  border: 2px solid #f90000;
  pointer-events: none;
  box-sizing: border-box;
  z-index: 101;
}

.magnifier {
  position: fixed;
  border: 1px solid #000;
  border-radius: 4px;
  background: var(--magnifier-background-rgba);
  color: var(--head-text);
  padding: 10px;
  font-size: 24px;
  transform: scale(1.5);
  transform-origin: 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  white-space: pre-wrap;
  /* Preserve text formatting */
  z-index: 200;
  width: calc(100vw - 40px);
  max-width: 400px;
  max-height: auto;
}

@media (max-width: 992px) {
  .magnifier {
    transform: scale(1);
  }
}

.magnifier-content {
  max-width: 100%;
  /* Ensure content fits within the magnifier */
}

.screen-read-highlight {
  background-color: var(--screen-reader-highlight);
  transition: background-color 0.5s;
}

.screen-read-underline {
  text-decoration: underline;
}

.accessibility-horizontal-line-container {
  width: 50%;
  margin-bottom: 16px;
  transform: translateX(50%);
  left: 50%;
}

.accessibility-horizontal-line {
  height: 4px;
  background-color: var(--accent);
  flex: 1;
  border-radius: 100px;
}

/* Page Structure menu  */

/* Existing styles */

.page-structure-menu {
  position: fixed;
  top: 120px;
  transform: translateX(-50%);
  left: 50%;
  width: 40%;
  height: auto;
  max-height: calc(100vh - 200px);
  background: var(--primary-dark);
  border-radius: 8px;
  border: 2px solid var(--accent);
  z-index: 30;
  /* overflow-y: scroll; */
  overflow: scroll;
  box-shadow: 4px 2px 6px var(--shadow);
}

@media (max-width: 992px) {
  .page-structure-menu {
    width: 90vw;
  }
}

.page-structure-menu-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--head-text);
  background-color: var(--primary-dark);
  padding: 10px 10px 10px 20px;
  font-weight: 500;
  font-size: larger;
}

.headings-content {
  margin-top: 10px;
}

.page-structure-menu-close-button {
  background-color: var(--accent);
  color: var(--black);
  padding: 8px;
  border-radius: 100px;
}

.page-structure-content {
  padding: 20px;
}

.headings-content,
.links-content {
  color: var(--head-text);
}

.links-content a {
  display: block;
  margin: 5px 0;
}

.links-content a:hover {
  color: var(--accent-light);
}