.motion-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 993px) {
  .motion-container {
    flex-direction: row;
  }
}

.left-div {
  max-width: 65%;
}

.right-div {
  max-width: 35%;
}

@media (max-width: 992px) {
  .left-div {
    order: 1;
    max-width: 100%;
  }

  .right-div {
    order: -1;
    max-width: 100%;
  }
}

.hero-board {
  background-color: var(--hero-background-rgba);
  border: 2px solid var(--accent);
  backdrop-filter: blur(4px);
  transition: background-color 500ms ease-in-out;
  padding: 40px 32px;
  border-radius: 16px;
  /* box-shadow: 2px 4px 8px var(--shadow); */
}

@media (min-width: 993px) {
  .hero-board {
    animation: float 4s ease-in-out infinite;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}