/* Home Section Styles */

.home-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.wall-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* height: calc(80vh - 90px); */
  /* height: calc(100vh - 15vh); */
  z-index: 1;
}

.wall-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.floor-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 21vh; */
  height: 20vh;
  /* height: 20vh; */
  z-index: 2;
}

.floor-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
}

@media (min-width: 993px) {
  .home-button-container {
    position: absolute;
    bottom: 18px;
    left: 18px;
    transform: none;
    z-index: 4;
    display: flex;
    flex-direction: row;
    /* No transform for larger screens */
  }
}

@media (max-width: 992px) {
  .home-button-container {
    position: absolute;
    left: 18px;
    bottom: 18px;
    /* left: 50%; */
    /* transform: translate(-50%, 50%); */
    z-index: 4;
    display: flex;
    flex-direction: row;
  }
}