.minimap__container {
  position: fixed;
  top: 90px;
  right: 0;
  max-height: 75vh;
  min-width: 20px;
  max-width: 140px;
  z-index: 10;
  overflow: hidden;
  height: 75vh;
  box-shadow: 0 0 10px var(--shadow);
  background-color: var(--primary);
}

.minimap__size {
  position: relative;
  z-index: 5;
  border: 2px solid white;
}

.minimap__viewer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
  z-index: 100;
  background-color: #656fb349;
  overflow-y: scroll;
  cursor: move;
}

.minimap__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  transform-origin: 0 0;
  border: 1px solid white;
  overflow: auto;
  pointer-events: none;
}