.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  box-shadow: -2px -2px 3px rgb(125, 141, 255), 3px 3px 3px rgba(0, 0, 0, 0.2);
  color: var(--head-text);
  border-radius: 8px;
  width: 500px;
  height: auto;
  padding: 4px;
  z-index: 90;
  gap: 4px;
  padding: 10px 12px;
  position: fixed;
  bottom: 18px;
  transform: translate(-50%, 0);
  left: 50%;
}

.search-bar input {
  background-color: var(--secondary-dark);
  border: none;
  border-radius: 8px;
  padding: 14px;
  color: var(--head-text);
  font-size: 16px;
  outline: none;
  width: 60%;
  font-weight: 500;
}

.search-bar p {
  font-size: 16px;
  color: var(--accent-dark);
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
}

.search-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-bar button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: var(--head-text);
  background-color: none;
  cursor: url('./assets/cursor.png'), auto;
  padding: 10px;
  font-size: 20px;
}

.search-bar button:not(:disabled):hover {
  background-color: var(--gray-300);
  color: var(--white);
  cursor: url('./assets/pointer.png'), pointer;
}

.search-bar button:not(:disabled):active {
  background-color: var(--accent);
  color: var(--white);
  cursor: url('./assets/cursor.png'), auto;
}

.search-bar button:disabled {
  color: #9ca3af;
}


@media (max-width: 992px) {
  .search-bar {
    box-shadow: -2px -2px 3px rgb(17, 18, 27), 3px 3px 3px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 60px;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-bar input {
    padding: 10px;
  }
}